body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main_container {
  display: grid;
  width: 100%;
  position: relative;
  margin: auto;
  max-height : 1000px;
  grid-template-areas: "topi topi topi"
                       "blank1 mission1 blank2"
                       "blank3 mission2 blank4"
                       "blank5 mission3 blank6"
                       "footer_origin footer_real footer_origin2";
  grid-template-rows: 115px 180px 370px 100px 175px;
  grid-template-columns: 3fr 4fr 3fr; 
}

.other_container {
  display: grid;
  width: 100%;
  position: relative;
  margin: auto;
  height : 1000px;
  grid-template-areas: "topi topi topi"
                       "blank1 mission1 blank2";
  grid-template-rows: 115px 100fr;
  grid-template-columns: 1fr 8fr 1fr; 
}

.topi {
  grid-area: topi;
} 

.blank1 {
  grid-area: blank1;
} 

.blank2 {
  grid-area: blank2;
} 

.blank3 {
  grid-area: blank3;
} 

.blank4 {
  grid-area: blank4;
} 

.mission1_h2{
  font-family: 'yg-jalnan';
  color : rgb(16, 31, 59);
}

.mission1_h3{
  font-family: 'NanumBarunGothic';
}

.blank5 {
  grid-area: blank5;
} 

.blank6 {
  grid-area: blank6;
} 

.mission1 {
  grid-area: mission1;
  text-align: center;
  padding-top : 55px;
  } 

  .mission2 {
    grid-area: mission2;
    text-align: center;
    padding-top : 35px;
  } 

    .mission3 {
      grid-area: mission3;
      text-align: center;
      padding-top : 25px;
      font-family: 'NanumBarunGothic';
    } 

.footer_origin {
  grid-area: footer_origin;
  background-color: #5383E3;
  color : rgba(255, 255, 255, 0.719);
  font-family: 'NanumBarunGothic';
  border-top : 1px solid rgba(0, 0, 0, 0.164);
}

.footer_origin2 {
  grid-area: footer_origin2;
  background-color: #5383E3;
  color : rgba(255, 255, 255, 0.719);
  font-family: 'NanumBarunGothic';
  border-top : 1px solid rgba(0, 0, 0, 0.164);
}

.footer_real {
  grid-area: footer_real;
  background-color: #5383E3;
  padding-top : 50px;
  color : rgba(255, 255, 255, 0.719);
  font-family: 'NanumBarunGothic';
  border-top : 1px solid rgba(0, 0, 0, 0.164);
}

.main_page {
  padding : 30px 50px 50px 30px;
  font-size : 20px;
  font-family: 'NanumBarunGothic';
  text-align: center;
  display : flex;
}

.table_ex{
  width : 700px;
  height : 300px;
  font-family: 'NanumBarunGothic';
  border-collapse: collapse;
  border-spacing: 2px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 10px;
  box-shadow:4px 4px 4px 4px rgb(209, 209, 209);
}
.table_days {
  border: 0.5px solid rgb(0, 0, 0);

}

.card1{
  display : grid;
  width: 250px;
  height : 250px;
  position: relative;
  grid-template-areas: "card_img"
                       "card_title"
                       "card_content";
  grid-template-rows: 160px 30px 600px;
  margin : 10px;
  border : 0.5px solid rgb(226, 226, 226);
  color : rgb(0, 0, 0);
}

.card1:hover{
  text-decoration : none;
  color : rgb(0, 0, 0);
}

.card1:visited{
  text-decoration: none;
  color : rgb(0, 0, 0);
}

.card1:active{
  text-decoration: none;
  color : rgb(0, 0, 0);
}

.card_img{
  grid-area : card_img;
  border-bottom : 0.5px solid rgb(226, 226, 226);
  text-align: center;
  padding-top: 70px;
}

.card_title{
  grid-area : card_title;
  border-bottom : 0.5px solid rgb(226, 226, 226);
  text-align: start;
  padding-left : 20px;
  padding-top : 5px;
  font-size: 15px;
  background-color: #5383E3;
  color : white;
}

.card_content{
  grid-area : card_content;
  text-align: start;
  padding-left : 20px;
}

.table_where {
  border-left: 0.5px solid rgb(0, 0, 0);
  border-right: 0.5px solid rgb(0, 0, 0);
}

table.table_ex th {
  width: 130px;
  padding: 10px;
  color: #fff;
  background: #5383E3;
  font-size : 14px;
  height : 40px;
  font-family: 'yg-jalnan';
}

table.table_ex td {
  width: 130px;
  padding: 10px;
  vertical-align: top;
  border: 0.5px solid rgb(0, 0, 0);
  background: #eee;
  font-size : 12px;
}